<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Great American Youth</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <meta property="description" content="<%= description %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:type" content="website">
  <meta property="og:image" content="<%= thumbnail %>">

</head>

<body>
  <app-root></app-root>
</body>

</html>